############################################
# Gradle
############################################

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Kotlin plugin data
.kotlin

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!/gradle/wrapper/gradle-wrapper.jar

# Ignore Gradle build output directory
build

# Ignore gradlew Linux script
gradlew

############################################
# IntelliJ IDEA
############################################

.idea
*.iml
out
*.iws
